@mixin transition-css($element: all, $duration: 0.3s, $delay:0s){
  -ms-transition-property: $element;
  -webkit-transition-property: $element;
  -moz-transition-property:$element;

  -ms-transition-duration: $duration;
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;

  -ms-transition-timing-function: easeInEaseOut;
  -webkit-transition-timing-function: easeInEaseOut;
  -moz-transition-timing-function: easeInEaseOut;


  -ms-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;
}