@include breakpoint($small-desktop) {
  .scroll-hacking {
    display:none;
  }
  div:not(.single) > .section-container {
    padding-bottom:100px;
  }
  .project-card {
    margin:25px !important;
    min-height: 420px;
  }
  .project-card .project-card_content {
    margin-top:0 !important;
  }

  .single .title {
    margin-bottom: 150px;
  }
  .single .single-content {
    &-cover {
      position:relative;
      left:0;
      right:0;
      margin:0 auto;
    }
    &-text {
      margin-top: -100px;
    }
  }
  .single:not(.page) .single-content-text p span {
    padding:50px 20px;
  }
  .single.page .single-content-text p span {
    padding:0 20px;
  }
  .projects-list {
    justify-content: center;
  }

}

@include breakpoint($phone) {
  body {
    padding-bottom:100px;
  }
  .bottom-nav {
    position:absolute;
    bottom: -70px;
  }
  .body-single, .body-page {
    .bottom-nav .networks li svg path{
      fill:$white !important;
    }

    .bottom-nav:before  {
      background:$white;
    }
    .bottom-nav .networks:after {
      background:$white;
    }
  }
  .navbar-primary {
    width:100%;
    left:-100%;
    ul li a {
      font-size:30px;
      line-height:50px;
      svg {
        height:20px;
      }
    }
  }
  .section-container {
    display:block;
  }
  .section-container-title {
    width: 100%;
    h1 {
      left: 0;
      right: 0;
      width:295px;
    }
  }
  .single .single-content .to-top{
    position: relative;
    transform: rotate(0deg);
    left: 0;
    right: 0;
    margin: 0;
    font-size: 20px;
    width: 50%;
    font-weight: bold;
    text-align: left;
    float:left;
    background: $black;
    color: $white;
    padding: 0 5%;
    bottom: 0;
    .icon-arrow {
      height:10px;
      width: 15px;
      transform: rotate(-90deg);
      line {
        fill:$white;
        stroke:$white;
      }
    }
  }

  .single .next-project {
    display:block;
    position: relative;
    transform: rotate(0deg);
    left: 0;
    right: 0;
    margin: 0;
    font-size: 20px;
    width: 50%;
    font-weight: bold;
    text-align: right;
    float:left;
    background: $black;
    color: $white;
    padding: 0 5%;
    bottom: 0;
    height:50px;
    z-index:100;
    text-transform: uppercase;
    a {
      display:block;
      line-height:50px;
      color:$white;
    }
    .icon-small-arrow {
      height:15px;
      width: 25px;
      margin-left:5px;
      transform: rotate(-180deg);
      line {
        fill:$white;
        stroke:$white;
      }
    }
  }

  .single .back-category {
    display:none;
  }
}