body {
  @extend .container;
  background:$background;
  color:$white;
  font-family: $secondFont;
  font-weight:normal;
  overflow:hidden;
  opacity:0;
  letter-spacing:3px;
}
.open-nav {
  position:fixed;
  z-index:300;
  height:50px;
  width:50px;
  left:30px;
  top:20px;
  cursor: pointer;
  border:none;
  background:none;
  outline:none;
  @include transition-css((transform,opacity),0.3s);
  &:hover {
    opacity:0.5;
  }
}
.logo-home {
  position:fixed;
  z-index:300;
  height:50px;
  width:50px;
  right:40px;
  top:20px;
  cursor: pointer;
  border:none;
  background:none;
  outline:none;
  @include transition-css(opacity);
  &:hover {
    opacity:0.5;
  }
}

.navbar-primary {
  @include transition-css(left,0.5s);
  position:fixed;
  height:100%;
  background:$white;
  top:0;
  left:-250px;
  width:250px;
  z-index: 350;
  will-change:left;
  .close-nav {
    position:absolute;
    right: 33px;
    top: 31px;
    padding:0;
    margin:0;
    background:none;
    border:none;
    color:$black;
    font-size: 40px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    outline:none;
    cursor:pointer;
  }
  ul {
    height:200px;
    top:0;
    bottom:0;
    margin:auto 0;
    position:absolute;
    padding:0 25px;
  }
  ul li {
    font-weight:bold;
    font-family:$secondFont;
    text-transform: uppercase;
    &:after {
      content:" ";
      height:2px;
      width:30px;
      display:block;
      background:$borderNav;
      position:relative;
      margin:5px 0;
    }
  }
  ul li a {
    color: $text;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 6px;
    position: relative;
    padding-left: 0;
    @include transition-css(padding, 0.3s, 0.2s);
    svg {
      position: absolute;
      height:13px;
      width:0;
      top:0;
      bottom:0;
      margin:auto;
      left:0;
      transform:rotate(180deg);
      @include transition-css(width);
    }
    &:hover {
      padding-left:20px;
      @include transition-css(padding, 0.3s, 0s);
      svg {
        width:15px;
      }
    }
  }
}

#app {
  z-index:100;
  margin:0;
  opacity:1;
}

.navbar-open .navbar-primary {
  @include transition-css(left,0.3s);
  left:0;
}

$translate: 100px;
.moved-by-navbar {
  @include transition-css((transform,opacity),0.3s,0.1s);
}

.moved-by-navbar.open-nav {
  @include transition-css((transform,opacity),0.3s);
}
.navbar-open .moved-by-navbar {
  -ms-transform: translate($translate, 0); /* IE 9 */
  -webkit-transform: translate($translate, 0); /* Safari */
  transform: translate($translate, 0);
  opacity:0.4;
}
.navbar-open .open-nav {
  -ms-transform: translate(250px, 0); /* IE 9 */
  -webkit-transform: translate(250px, 0); /* Safari */
  transform: translate(250px, 0);

  opacity:0.4;
}
.bottom-nav {
  position:fixed;
  bottom:20px;
  left:30px;
  right:30px;
  height:20px;
  z-index: 300;
  &:before {
    content:" ";
    height:2px;
    background:$white;
    display:block;
    position:absolute;
    border-radius:3px;
    top:0;
    bottom:0;
    margin:auto;
  }
  &:before {
    left:0;
    right:275px;
  }
  .networks {
    float:right;
    margin-right:100px;
    position:relative;
    &:after {
      content:" ";
      height:2px;
      background:$white;
      display:block;
      position:absolute;
      border-radius:3px;
      top:0;
      bottom:0;
      margin:auto;
      right:-110px;
      left:calc(100% + 15px);
    }
  }
  .networks li {
    display:inline-block;
    height: 15px;
    width: 15px;
    margin: 0 10px;
  }
}
.scroll-hacking {
  position:fixed;
  background:$white;
  right:20px;
  width:2px;
  top:20px;
  bottom:30px;
  display:block;
  z-index:300;
  .scroll-dragging {
    width:5px;
    right:-1px;
    height:100px;
    cursor:pointer;
    background:$white;
    border-radius:5px;
    position:absolute;
    top:0;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
}

.body-single, .body-page {
  .scroll-hacking  {
    background:$black;
  }
  .bottom-nav:before  {
    background:$black;
  }
  .bottom-nav .networks:after {
    background:$black;
  }
  .bottom-nav .networks li svg path{
    fill:$black;
  }
}

.page404 {
  height:100vh;
  background:url("/wp-content/themes/florianmoreau-2017/public/images/page404.jpg") no-repeat center center;
  h1 {
    font-family: $primaryFont;
    font-size:150px;
    height:150px;
    width:300px;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
  }
}