.container {
  min-height:100vh;
  width:100%;
  margin:0;
  padding:0;
  position:relative;
}
.section-container {
  @extend .container;
  max-width:1200px;
  margin:0 auto;
  display:flex;
}
.content-container {
  @extend .container;
}

.projects-list {
  padding:0 45px;
  margin-top:360px;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position:relative;
  min-height:10vh;
}
