.single {
  padding-top:200px;
  .section-container {
    display:block;
  }

  .content-container {
    min-height:auto;
  }

  .title {
    text-align:center;
    font-size:30px;
    line-height:35px;
    text-transform: uppercase;
    font-family: $secondFont;
    font-weight:normal;
    &:after {
      content:" ";
      height:50px;
      background:$white;
      width:2px;
      display:block;
      margin:50px auto;
    }
  }
}

.single .single-content {
  background:$white;
  min-height:100px;
  position:relative;
  z-index:100;
  box-shadow:0 0 10px 10px rgba(0,0,0,0.2);
  &-text {
    img {
      max-width:100%;
      height:auto;
      margin: 0;
      padding: 0;
      display: block;
    }
    p {
      font-size:15px;
      line-height:25px;
      color:$black;
      text-transform: uppercase;
      font-family: $secondFont;
      font-weight:bold;
      padding:0;

      span {
        padding:100px 0;
        display:block;
        max-width:450px;
        margin:0 auto;
        letter-spacing:1px;
      }
    }
  }
  &-cover {
    max-width:200px;
    max-height:200px;
    display:block;
    position:absolute;
    border-radius:50%;
    overflow: hidden;
    left:100px;
    top:-100px;
    img {
      height:100%;
      width:100%;
    }
  }
  .project-year {
    color:$white;
    text-transform: uppercase;
    font-family: $secondFont;
    position:absolute;
    transform: rotate(90deg);
    right:-40px;
    height:25px;
    line-height:25px;
    font-size:15px;
    top:5px;
    font-weight:bold;
    &:after {
      content:" ";
      width:100px;
      background:$white;
      height:2px;
      margin:auto;
      position:absolute;
      top:0;
      bottom:0;
      left:115%;
    }
  }
  .to-top {
    color:$black;
    text-transform: uppercase;
    font-family: $secondFont;
    position:absolute;
    transform: rotate(-90deg);
    background:none;
    border:none;
    z-index:100;
    left: -65px;
    font-size: 15px;
    line-height: 50px;
    bottom: 20px;
    outline:none;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
  }
}
.single .back-category {
  display:block;
  text-align:center;
  position:relative;
  z-index:100;
  a {
    display:inline-block;
    border:2px solid $black;
    color:$black;
    text-transform: uppercase;
    font-family: $secondFont;
    font-weight:bold;
    border-radius:25px;
    margin:50px 0;
    padding:10px 50px;
    @include transition-css((background,color));
    will-change:background,color;
    letter-spacing:5px;
    &:hover {
      background:black;
      color:$white;
    }
  }
}
.single .single-background {
  display:block;
  width:100%;
  height:calc(100% - 60vh);
  top:60vh;
  position:absolute;
  background:$white;
  z-index:50;
}