.single {
  padding-top:200px;
  .section-container {
    display:block;
  }

  .content-container {
    min-height:auto;
  }

  .title {
    position:fixed;
    top: 200px;
    width: auto;
    left: 0;
    right: 0;
    text-align:center;
    font-size:28px;
    line-height:35px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: $secondFont;
    font-weight:normal;
    &:after {
      content:" ";
      height:50px;
      background:$white;
      width:2px;
      display:block;
      margin:50px auto;
    }
  }
}

.single .single-content {
  background:$white;
  min-height:100px;
  position:relative;
  z-index:100;
  box-shadow:0 0 50px 20px rgba(0, 0, 0, 0.25);
  margin-top:200px;
  &-text {
    padding-top:100px;
    img {
      max-width:100%;
      height:auto;
      margin: 0;
      padding: 0;
      display: block;
    }
    p {
      font-size:15px;
      line-height:25px;
      min-height: 25px;
      color:$black;
      text-transform: uppercase;
      font-family: $secondFont;
      font-weight:bold;
      padding:0;
      display:block;
      max-width:450px;
      margin:0 auto;

    }
    p:last-child {
      margin-bottom:0;
    }
    .full-width {
      max-width:100%;
      padding:0;
    }

    iframe {
      pointer-events: none;
    }
  }
  &-cover {
    max-width:200px;
    max-height:200px;
    display:block;
    position:absolute;
    border-radius:50%;
    overflow: hidden;
    left:100px;
    top:-100px;
    img {
      height:100%;
      width:100%;
    }
  }
  .project-year {
    color:$white;
    text-transform: uppercase;
    font-family: $secondFont;
    position:absolute;
    transform: rotate(90deg);
    right:-40px;
    height:25px;
    line-height:25px;
    font-size:15px;
    top:10px;
    font-weight:bold;
    &:after {
      content:" ";
      width:100px;
      background:$white;
      height:2px;
      margin:auto;
      position:absolute;
      top:0;
      bottom:0;
      left:115%;
    }
  }
  .to-top {
    color:$black;
    text-transform: uppercase;
    font-family: $secondFont;
    position:absolute;
    transform: rotate(-90deg);
    background:none;
    border:none;
    z-index:100;
    left: -85px;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: bold;
    line-height: 50px;
    bottom: 20px;
    outline:none;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
    svg {
      width: 30px;
      margin-right: 10px;
    }
    span, svg {
      display:inline;
    }
  }
}
.single .back-category {
  display:block;
  text-align:center;
  position:relative;
  z-index:100;
  margin-bottom:50px;
  a {
    display:inline-block;
    border:2px solid $black;
    color:$black;
    text-transform: uppercase;
    font-family: $secondFont;
    font-weight:bold;
    border-radius:25px;
    margin:50px 0;
    padding:10px 60px;
    @include transition-css((background,color));
    will-change:background,color;
    letter-spacing:5px;
    position:relative;
    font-size: 13px;
    svg {
      height:11px;
      position:absolute;
      left:20px;
    }
    &:hover {
      background:black;
      color:$white;
    }
  }
}
.single .back-category {
  display:block;
  text-align:center;
}
.single .single-background {
  display:block;
  width:100%;
  height:calc(100% - 40vh);
  top:60vh;
  position:fixed;
  background:$white;
  z-index:50;
}

// PAGE

.single.page {
  padding-bottom:100px;
  .single-content-text {
    padding-top:50px;
  }
  p {
    margin:0 auto;
  }
  p span {
    max-width:550px;
    line-height:30px;
    padding: 0;
    display:block;
    font-weight:normal;
  }

  strong span {
    font-weight:bold;
  }
}
.single .single-content-text p a {
    color:$grey2;
}